/* common rules */
* {
    margin: 0;
    padding: 0;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
}

.panel {
    position: relative;
    height: 100%;
}

.left.panel {
    width: 50%;
    float: left;
}

.right.panel {
    width: 50%;
    float: right;
}

.text.center {
    text-align: center;
}

.opacity-low {
    opacity: 0.1;
}

.inline {
    display: inline-block;
    width: 100%;
}

.inline * {
    position: relative;
    float: left;
}

.button {
    cursor: pointer;
}

.button.opacity-low:hover {
    opacity: 1;
}


/* root rules */
#root {
    margin: 0;
    padding: 0;
    position: fixed;
    width: 100%;
    height: 100%;
    background: #1f1f30;
}


#root.clear.day,
#root.few-clouds.day {
    background: #a4ddf5;
}

#root.night,
#root.dawn,
#root.sunset {
    background: #1f1f30;
}

#root.cloud.day {
    background: #bcbcbc;
}


/* app rules */
#app {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50.4%);
    font-family: 'Roboto', sans-serif;
}


#searchbox {
    position: relative;
    bottom: 10px;
}

#searchbox input {
    background: none;
    border: none;
}

#searchbox input:active,
#searchbox input:focus {
    outline: none;
}

#searchbox label,
#searchbox select {
    padding: 4px 5px;
    border-radius: 5px;
    border: 1px solid #686868;
    background: #ffffffb0;
    position: relative;
}

#searchbox select {
    bottom: 1px;
    left: 5px;
    padding: 5px 5px;
}

#searchbox span {
    border: 1px solid #3c3c3c;
    border-radius: 4px;
    padding: 1px 2px;
    opacity: 0.5;
    font-size: 16px;
    position: relative;
    cursor: pointer;
    top: 2px;
}

#searchbox span:hover {
    opacity: 1;
}

#card {
    width: 400px;
    height: 200px;
    padding: 10px 20px;
    margin: 5px 0;
    border-radius: 15px;
    box-shadow: 0px 12px 40px 0px #0000004a;

    overflow: hidden;
}

#card.clear.night {
    background: #03031B;
    background: -webkit-gradient(linear, left top, left bottom, from(#03031B), to(#1E2B3D));
    background: -o-linear-gradient(top, #03031B, #1E2B3D);
    background: linear-gradient(to bottom, #03031B, #1E2B3D);
}

#card.few-clouds.night {
    background: #03031B;
    background: -webkit-gradient(linear, left top, left bottom, from(#03031B), to(#303d4e));
    background: -o-linear-gradient(top, #03031B, #303d4e);
    background: linear-gradient(to bottom, #03031B, #303d4e);
}

#card.cloud.night {
    background: #03031B;
    background: -webkit-gradient(linear, left top, left bottom, from(#121221), to(#424e5e));
    background: -o-linear-gradient(top, #121221, #424e5e);
    background: linear-gradient(to bottom, #121221, #424e5e);
}

#card.day.clear {
    background: #2e3a9e;
    background: -o-radial-gradient(at 50% top, #2e3a9e, #2c88e9);
    background: radial-gradient(at 50% top, #2e3a9e, #2c88e9);
}

#card.clear.sunset {
    background: #a76e26;
    background: -o-radial-gradient(bottom left, #A76E26, #EB743C);
    background: radial-gradient(to top right, #A76E26, #EB743C);
}

#card.few-clouds.day {
    background: #2c88e9;
    background: -o-radial-gradient(at 50% top, #afb7fc, #2c88e9);
    background: radial-gradient(at 50% top, #afb7fc, #2c88e9);
}

#card.cloud.day {
    background: #9FCCEA;
    background: -webkit-gradient(linear, left top, left bottom, from(#9FCCEA), to(#6c707d));
    background: -o-linear-gradient(top, #9FCCEA, #6c707d);
    background: linear-gradient(to bottom, #9FCCEA, #6c707d);
}

#card.dawn.cloud {
    background: #FF2629;
    background: -o-radial-gradient(bottom, #FF2629, #E0E0E0);
    background: radial-gradient(at 50% bottom, #ff2629, #8d7b7b, #03031B);
}

#card.clear.dawn {
    background: #FF8A26;
    background: -o-radial-gradient(at 50% bottom, red, #0b1d44, #03031b);
    background: radial-gradient(at 50% bottom, red, #0b1d44, #03031b);
}

#card.few-clouds.dawn {
    background: #FF8A26;
    background: -o-radial-gradient(at 50% bottom, red, #2f4167, #03031b);
    background: radial-gradient(at 50% bottom, red, #2f4167, #03031b);
}

#card.sunset.cloud {
    background: #FF8A26;
    background: -o-radial-gradient(bottom, #FF8A26, #E0E0E0);
    background: radial-gradient(at 50% bottom, #ff8a26, #726b63, #03031B);
}

#card.few-clouds.sunset {
    background: #FF8A26;
    background: -o-radial-gradient(at 50% bottom, #fb690c, #613636, #03031b);
    background: radial-gradient(at 50% bottom, #fb690c, #613636, #03031b);
}

#card.clear.sunset {
    background: #FF8A26;
    background: -o-radial-gradient(at 50% bottom, #fb690c, #471e1e, #03031b);
    background: radial-gradient(at 50% bottom, #fb690c, #471e1e, #03031b);
}

#card.cloud.dawn,
#card.cloud.sunset {
    color: black;
}

#card.few-clouds.day #card__temp,
#card.cloud.dawn #card__temp,
#card.cloud.sunset #card__temp {
    border-right: 1px solid #00000063;
}

#card.night,
#card.clear.dawn,
#card.clear.day,
#card.cloud.day,
#card.clear.sunset {
    color: white;
}

#card__save-location {
    bottom: 4px;
}

#card__temp {
    font-size: 100px;
    border-right: 1px solid #ffffff12;
}

#city-name,
#card__time {
    margin-top: 10px;
}

#city-name .inline {
    width: fit-content;
}

#card__description__text {
    margin-top: 10px;
}

#card__description__feels-like div {
    left: 40px;
}

#card__description__feels-like span {
    left: 46px;
}


#weather-icon {
    margin-top: 11px;
}

#weather-icon span {
    text-align: center;
    font-size: 100px;
}