
*{
    margin: 0;
    padding: 0;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
}


#root {
    margin: 0;
    padding: 0;
    position: fixed;
    width: 100%;
    height: 100%;
    background: #363852;
}

#app {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
    font-family: 'Roboto', sans-serif;
}

#card {
    background: #03031B;
    background: -webkit-linear-gradient(top, #03031B, #1E2B3D);
    background: -moz-linear-gradient(top, #03031B, #1E2B3D);
    background: linear-gradient(to bottom, #03031B, #1E2B3D);
    width: 400px;
    height: 200px;
    padding: 10px 20px;
    margin: 5px 0;
    border-radius: 15px;
    color: white;

    overflow: hidden;
}

#card__save-location {
    bottom: 4px;
}

.panel {
    position: relative;
    height: 100%;
}

.left.panel {
    width: 50%;
    float: left;
}

.right.panel {
    width: 50%;
    float: right;
}

.button {
    cursor: pointer;
}

.button.opacity-low:hover {
    opacity: 1;
}

.text.center {
    text-align: center;
}

.opacity-low {
    opacity: 0.1;
}

.inline {
    display: inline-block;
    width: 100%;
}

.inline * {
    position: relative;
    float: left;
}

#card__temp {
    font-size: 100px;
    border-right: 1px solid #ffffff12;
}

#city-name,
#card__time {
    margin-top: 10px;
}

#city-name .inline {
    width: fit-content;
}

.bottom.margin-1 {
    margin-bottom: 5px;
}

#weather-icon {
    margin-top: 11px;
}

#card__description__text {
    margin-top: 10px;
}

#card__description__feels-like div {
    left: 40px;
}

#card__description__feels-like span {
    left: 46px;
}

#weather-icon span{
    text-align: center;
    font-size: 100px;
}